<%# A nice little footer with course name, my name and student number%>
<div class="uk-section uk-section-xsmall">
        <hr>
        <div class="uk-container uk-text-center uk-text-meta">
            <p class="uk-margin-remove">CSC7084 Web Development</p>
            <p class="uk-margin-remove">Hassan Abdel Rahman - 40427399</p>
        </div>
    </div>

    <%# These scripts from the UIkit library add interactivity %>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.19.2/dist/js/uikit-icons.min.js"></script>
</body>
</html>